
@{
    ViewData["Title"] = "About Us";
}

<html>
<head>
    <style>
        * {
            box-sizing: border-box;
            
        }

        .imgbox {
            display: grid;
            height: 100%;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100%;
            
            margin: 0px;
            
            
        }
    </style>
</head>
<body>
    <div class="imgbox">
        <img class="center-fit" src="https://cdn.discordapp.com/attachments/1133039917094682644/1197184958536634419/ABOUT_US_1.png?ex=65ba5860&is=65a7e360&hm=997f017c4761048579876cf7a565212d7cffb909e158de307af54ecfd3733cb7&">
    </div>
    </br>
    </br>
	
		
	
	

				<div class="grid1">
					
					<h1>Where Your Dream Home Awaits!</h1>
                    </br>
				</div>
				<div class="clear"></div>
				<div class="about-des">

                    <p>
                        Welcome to Starlight Properties, your dedicated partner in the pursuit of the perfect home. At Starlight Properties, we stand out in the real estate industry with our commitment to excellence, transparency, and personalized service. Our seasoned estate agents specialize in connecting aspiring homeowners with a diverse portfolio of available estates, ensuring a seamless and enjoyable journey towards finding the property that aligns with your unique vision and lifestyle.
                    </br> </br>
                        What sets us apart is our genuine passion for real estate and our mission to simplify the property search process for our clients. We believe in fostering lasting relationships by understanding your unique needs and delivering tailored solutions. Whether you're a first-time homebuyer, a seasoned investor, or looking to upgrade, our experienced team is here to guide you every step of the way. With Starlight Properties, your dream home is not just a possibility; it's a certainty.
                    </br> </br>
                        Explore our website to discover the latest listings, expert advice, and resources that will enhance your real estate journey. Thank you for choosing Starlight Properties - Where Your Dream Home Awaits!
                    </p>
                    </br>
                    </br>
                    <h1>ORGANIZATIONAL CHART</h1>
					
				</div>

                <div class="imgbox">
                    <img class="center-fit" src="https://cdn.discordapp.com/attachments/1133039917094682644/1197194048730042468/Organizational-Chart-with-Images.png?ex=65ba60d8&is=65a7ebd8&hm=d1dd61ace382130cc9199e91b2756271d0e1621c78fb30be71b9e7eff23a29ab&">
                </div>
</body>
</html>

   

        

    
