@{
    ViewData["Title"] = "Home Page";
}

<body>
<div>
    <br />
    <br />

    <table>
        <tr>
            <td><h1 class="text-center"> WELCOME TO STARLIGHT PROPERTIES</h1>
                <p class="text-center"> Our company will keep track and supply estate agents with available property for organization or customer who are looking to do business</p></td>
            <td> <img src="https://cdn.discordapp.com/attachments/1133039917094682644/1194559496568193084/pngwing.com.png?ex=65b0cb39&is=659e5639&hm=476cf00e3c5833cffbec64b7aa67e49958d77ec5dfbb1ef5020275fa6b9d51b1&"</td>
        </tr>
             
    </table>

    <br />
    <br />
    <br />
    <br />

    
    <h1 class="text-center">LOCATIONS</h1>
    <p class="text-center">We are an organization from Malaysia so our properties listed are only available in Malaysia</p>
    
    <br />

    <table>
        <tr>
            <td> <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=1AchMAZrtBf74YD1Kv2vfyxLNOng&hl=en" width="450"</td>
            <td> <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=116xQeNuNRv9ADRD8ICcooyHyWac&hl=en_US" width="450"</td>
            <td> <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=18AUfTG3r-kvkuQRammjivvjtidg&hl=en" width="450"</td>
        </tr>
    </table>
   

    <br />
    <br />
    <br />
    <br />

    <table>
        <tr>

            <td> <img src="https://i.pinimg.com/originals/cd/33/3a/cd333aab10687b07b3bbb7eadb9b457c.png" width="600"</td>
            <td>
                <h1 class="text-center"> CHOOSE US</h1>
                <p class="text-center"> Our company will keep track and supply estate agents with available property for organization or customer who are looking to do business</p>
            </td>
            
        </tr>

    </table>
</div>
</body>